<nav class="navbar navbar-vertical fixed-left navbar-expand-md @@if(navColor=='default' && !demoMode){navbar-light}@@if(navColor=='inverted' &&!demoMode){}@@if(navColor=='vibrant' && !demoMode){navbar-dark bg-vibrant}" id="sidebar">
    <div class="container-fluid">
  
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Brand -->
      <a class="navbar-brand" href="index.html">
        <img src="@@webRoot/assets/img/aircrft-logo-clean.png" class="navbar-brand-img 
        mx-auto" alt="...">
      </a>
  
      <!-- User (xs) -->
      <div class="navbar-user d-md-none">
  
        <!-- Dropdown -->
        <div class="dropdown">
          
          <!-- Toggle -->
          <a href="#" id="sidebarIcon" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="avatar avatar-sm avatar-online">
              <img src="@@webRoot/assets/img/avatars/profiles/avatar-1.jpg" class="avatar-img rounded-circle" alt="...">
            </div>
          </a>
  
          <!-- Menu -->
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sidebarIcon">
            <a href="profile-posts.html" class="dropdown-item">Profile</a>
            <a href="settings.html" class="dropdown-item">Settings</a>
            <hr class="dropdown-divider">
            <a href="sign-in.html" class="dropdown-item">Logout</a>
          </div>
  
        </div>
  
      </div>
  
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidebarCollapse">
  
        <!-- Form -->
        <form class="mt-4 mb-3 d-md-none">
          <div class="input-group input-group-rounded input-group-merge">
            <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="fe fe-search"></span>
              </div>
            </div>
          </div>
        </form>
  
        <!-- Heading - Main Menu Starts Here Chai -->
        <h6 class="navbar-heading"> 
          STARTUP NETWORK
        </h6>
  
        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link @@if(page=='getting-started.html'){active}" href="getting-started.html">
                <i class="fe fe-feather"></i> Aircrft flight deck <span class="badge badge-soft-success ml-auto">LIVE</span>
                </a>
            </li>
          <li class="nav-item">
               <a class="nav-link @@if(page=='getting-started.html'){active}" href="getting-started.html">
               <i class="fe fe-activity"></i> Founders feed <span class="badge badge-soft-danger ml-auto">New</span>
               </a>
            </li>
          <li class="nav-item">
               <a class="nav-link @@if(page=='getting-started.html'){active}" href="getting-started.html">
               <i class="fe fe-battery-charging"></i> Startup spotlight <span class="badge badge-soft-primary ml-auto">LIVE</span>
               </a>
            </li>
          <li class="nav-item">
              <a class="nav-link @@if(page=='getting-started.html'){active}" href="getting-started.html">
              <i class="fe fe-message-square"></i> Team channels 
              </a>
            </li> 
          <!-- <li class="nav-item">
            <a class="nav-link" href="#sidebarDashboards" data-toggle="collapse" role="button" aria-expanded="@@if(category=='dashboards'){true}@@if(category!=='dashboards'){false}" aria-controls="sidebarDashboards">
              <i class="fe fe-activity"></i> Startup Spotlight
            </a>
            <div class="collapse @@if(category=='dashboards'){show}" id="sidebarDashboards">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a href="sites.html" class="nav-link @@if(page=='sites.html'){active}">
                    aircrftdev.com
                  </a>
                </li>
                <li class="nav-item">
                  <a href="myaircrft-chaiforest.html" class="nav-link @@if(page=='myaircrft-chaiforest.html'){active}">
                    myaircrft.com/chaiforest
                  </a>
                </li>
              </li>
              <li class="nav-item">
                <a href="aircrft-flightpath.html" class="nav-link @@if(page=='aircrft-flightpath.html'){active}">
                  aircrftflightpath.com
                </a>
              </li>
              <li class="nav-item">
                <a href="site-iframe-demo-1.html" class="nav-link @@if(page=='site-iframe-demo-1.html'){active}">
                  site-iframe-demo-1.html
                </a>
              </li>
              <li class="nav-item">
                <a href="novela-narative-co-iframe.html" class="nav-link @@if(page=='novela-narative-co-iframe.html'){active}">
                  novela-narative-co-iframe
                </a>
              </li>
              <li class="nav-item">
                <a href="my-awesome-list-preview-iframe.html" class="nav-link @@if(page=='my-awesome-list-preview-iframe.html'){active}">
                  my-awesome-list-preview-iframe
                </a>
              </li>
              <li class="nav-item">
                <a href="podcast-gatsby-iframe.html" class="nav-link @@if(page=='podcast-gatsby-iframe.html'){active}">
                  podcast-gatsby-iframe
                </a>
              </li>
              <li class="nav-item">
                <a href="stackbit-iframe.html" class="nav-link @@if(page=='podcast-gatsby-iframe.html'){active}">
                  stackbit-iframe
                </a>
              </li>
              <li class="nav-item">
                <a href="mvp-spwa-page-builder.html" class="nav-link @@if(page=='podcast-gatsby-iframe.html'){active}">
                  mvp-spwa-page-builder
                </a>
              <li class="nav-item">
                <a href="mvp-spwa-page-builder.html" class="nav-link @@if(page=='podcast-gatsby-iframe.html'){active}">
                  mvp-spwa-page-builder
                </a>
              </li>
              </ul>
            </div>
          </li>
         </li>
         <li class="nav-item">
          <a class="nav-link @@if(page=='getting-started.html'){active}" href="getting-started.html"> 
            <i class="fe fe-git-branch"></i> Flight Path <span class="badge badge-soft-primary ml-auto">Podcast</span>
          </a> </li> 
              </ul>
            </div>
          </li> -->
        </ul> 
  
        <!-- Divider -->
        <hr class="navbar-divider my-3">
  
        <!-- Heading -->
        <h6 class="navbar-heading">
          CONTENT
        </h6>
  
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link @@if(page=='getting-started.html'){active}" href="getting-started.html">
              <i class="fe fe-mic"></i> Podcast 
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link @@if(page=='getting-started.html'){active}" href="getting-started.html">
              <i class="fe fe-edit-3"></i> Flight path <span class="badge badge-soft-primary ml-auto">blog</span>
              </a>
          </li>
          <!-- <li class="nav-item">
             <a class="nav-link @@if(page=='getting-started.html'){active}" href="getting-started.html">
             <i class="fe fe-moon"></i> Culture Decks
           <span class="badge badge-soft-success ml-auto">Northstar</span>
        </a>
        </li> --> 
      </li>
          <li class="nav-item">
            <a class="nav-link @@if(page=='getting-started.html'){active}" href="getting-started.html">
              <i class="fe fe-paperclip
              "></i> Jobs <span class="badge badge-soft-warning ml-auto">Search + Apply</span>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sidebarAuth" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarAuth">
              <i class="fe fe-users"></i> Memberships
            </a>
            <div class="collapse" id="sidebarAuth">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a href="#sidebarSignIn" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarSignIn">
                    Sign in
                  </a>
                  <div class="collapse" id="sidebarSignIn">
                    <ul class="nav nav-sm flex-column">
                      <li class="nav-item">
                        <a href="sign-in-illustration.html" class="nav-link">
                          Illustration
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item">
                  <a href="#sidebarSignUp" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarSignUp">
                    Sign up
                  </a>
                  <div class="collapse" id="sidebarSignUp">
                    <ul class="nav nav-sm flex-column">
                      <li class="nav-item">
                        <a href="sign-up-illustration.html" class="nav-link">
                          Illustration
                        </a>
                      </li>
                    </ul>
                  <div class="collapse" id="sidebarSignIn">
                  </div>
                </li>
                <li class="nav-item">
                  <a href="#sidebarPassword" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarPassword">
                    Password reset
                  </a>
                  <div class="collapse" id="sidebarPassword">
                    <ul class="nav nav-sm flex-column">
                      <li class="nav-item">
                        <a href="password-reset-illustration.html" class="nav-link">
                          Illustration
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item">
                  <a href="#sidebarError" class="nav-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="pricing">
                    Pricing
                  </a>
                  <div class="collapse" id="sidebarError">
                    <ul class="nav nav-sm flex-column">
                      <li class="nav-item">
                        <a href="pricing.html" class="nav-link">
                          Pricing
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="Pricing.html" class="nav-link">
                          Basic
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item d-md-none">
            <a class="nav-link" href="#sidebarModalActivity" data-toggle="modal">
             <span class="fe fe-bell"></span> Notifications
            </a>
          </li>
        </ul>
  
        <!-- Divider -->
        <hr class="navbar-divider my-3">
  
        <!-- Heading -->
        <h6 class="navbar-heading">
          CONSCIOUS BUSINESS SYSTEM
        </h6>
  
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-4">
          <li class="nav-item">
            <a class="nav-link @@if(page=='getting-started.html'){active}" href="getting-started.html">
              <i class="fe fe-edit-3"></i> Strategies
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link @@if(page=='getting-started.html'){active}" href="getting-started.html">
              <i class="fe fe-git-branch"></i> Tactics
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link @@if(page=='changelog.html'){active}" href="changelog.html">
              <i class="fe fe-sliders"></i> Tools
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sidebarComponents" data-toggle="collapse" role="button" aria-expanded="@@if(category=='components'){true}@@if( category!=='components'){false}" aria-controls="sidebarComponents">
              <i class="fe fe-book-open"></i> Library
            </a>
            <div class="collapse @@if(category=='components'){show}" id="sidebarComponents">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a href="components.html#alerts" class="nav-link">
                    Alerts
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#autosizePlugin" class="nav-link">
                    Autosize
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#avatars" class="nav-link">
                    Avatars
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#badges" class="nav-link">
                    Badges
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#breadcrumb" class="nav-link">
                    Breadcrumb
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#buttons" class="nav-link">
                    Buttons
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#button-group" class="nav-link">
                    Button group
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#cards" class="nav-link">
                    Cards
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#charts" class="nav-link">
                    Charts
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#dropdowns" class="nav-link">
                    Dropdowns
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#forms" class="nav-link">
                    Forms
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#icons" class="nav-link">
                    Icons
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#kanban" class="nav-link">
                    Kanban
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#lists" class="nav-link">
                    Lists
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#map" class="nav-link">
                    Map
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#modal" class="nav-link">
                    Modal
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#navs" class="nav-link">
                    Navs
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#navbarExample" class="nav-link">
                    Navbar
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#page-headers" class="nav-link">
                    Page headers
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#pagination" class="nav-link">
                    Pagination
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#popovers" class="nav-link">
                    Popovers
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#progress" class="nav-link">
                    Progress
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#social-posts" class="nav-link">
                    Social post
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#spinners" class="nav-link">
                    Spinners
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#tables" class="nav-link">
                    Tables
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#toasts" class="nav-link">
                    Toasts
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#tooltips" class="nav-link">
                    Tooltips
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#typography" class="nav-link">
                    Typography
                  </a>
                </li>
                <li class="nav-item">
                  <a href="components.html#utilities" class="nav-link">
                    Utilities
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
  
        <!-- Heading -->
        <h6 class="navbar-heading">
          COMPASSIONATE MANAGEMENT
        </h6>
  
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-4">
          <li class="nav-item">
            <a class="nav-link @@if(page=='sites.html'){active}" href="sites.html">
              <i class="fe fe-clipboard"></i> Techniques <span class="badge badge-soft-success ml-auto">Workhop</span>
            </a>
          </li>
  
          </li>
          <li class="nav-item">
            <a class="nav-link @@if(page=='getting-started.html'){active}" href="getting-started.html">
              <i class="fe fe-award"></i> Best practices <!-- <span class="badge badge-soft-success ml-auto">Web</span> -->
            </a>
          </li>
        </ul>
  
        
        <!-- Push content down -->
        <div class="mt-auto"></div>
        
        @@if (demoMode) {
        <!-- Customize -->
        <a href="#modalDemo" class="btn btn-block btn-primary mb-4" data-toggle="modal">
          <i class="fe fe-sliders mr-2"></i> Customize
        </a>
        }
        
        @@if (navPosition == 'sidenav') {
        <!-- User (md) -->
        <div class="navbar-user d-none d-md-flex" id="sidebarUser">
          
          <!-- Icon -->
          <a href="#sidebarModalActivity" class="navbar-user-link" data-toggle="modal">
            <span class="icon">
              <i class="fe fe-bell"></i>
            </span>
          </a>
  
          <!-- Dropup -->
          <div class="dropup">
            
            <!-- Toggle -->
            <a href="#" id="sidebarIconCopy" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="avatar avatar-sm avatar-online">
                <img src="@@webRoot/assets/img/avatars/profiles/avatar-1.jpg" class="avatar-img rounded-circle" alt="...">
              </div>
            </a>
  
            <!-- Menu -->
            <div class="dropdown-menu" aria-labelledby="sidebarIconCopy">
              <a href="profile-posts.html" class="dropdown-item">Profile</a>
              <a href="settings.html" class="dropdown-item">Settings</a>
              <hr class="dropdown-divider">
              <a href="sign-in.html" class="dropdown-item">Logout</a>
            </div>
  
          </div>
  
          <!-- Icon -->
          <a href="#sidebarModalSearch" class="navbar-user-link" data-toggle="modal">
            <span class="icon">
              <i class="fe fe-search"></i>
            </span>
          </a>
  
        </div>
        }
  
      </div> <!-- / .navbar-collapse -->
  
    </div>
  </nav>