<!doctype html>
<html lang="en">
  <head>
    @@include("partials/head.html", {
      "title": "Aircrft"
    })
  </head>
  <body>

    <!-- MODALS
    ================================================== -->
    @@include("partials/modals.html")

    <!-- NAVIGATION
    ================================================== -->
    @@if (navPosition == 'sidenav' || navPosition == 'combo' || demoMode) {
      @@if (sidebarSize == 'base' || demoMode) {
        @@include("partials/sidebar.html", {
          "category": "pages",
          "subcategory": "project",
          "page": "site-iframe-demo-1.html"
        })
      }
      @@if (sidebarSize == 'small' || demoMode) {
        @@include("partials/sidebar-sm.html", {
          "category": "pages",
          "subcategory": "project",
          "page": "site-iframe-demo-1.html"
        })
      }
    }
    @@if (navPosition == 'topnav' || demoMode) {
      @@include("partials/topnav.html", {
        "category": "pages",
        "subcategory": "project",
        "page": "site-iframe-demo-1.html"
      })
    }

    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">

      @@if (navPosition == 'combo' || demoMode) {
        @@include("partials/topbar.html")
      }

      <!-- HEADER -->
      <div class="header">
        <div class="@@if(navPosition=='sidenav'||navPosition=='combo'){container-fluid}@@if(navPosition=='topnav'){container}">
          
          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col-auto">

                <!-- Avatar -->
                <div class="avatar avatar-lg avatar-4by3">
                  <img src="assets/img/avatars/projects/MVP_v1-07.jpg" alt="..." class="avatar-img rounded">
                </div>

              </div>
              <div class="col ml-n3 ml-md-n2">
                
                <!-- Pretitle -->
                <h6 class="header-pretitle">
                  Tool for identification of product function and supportive features.
                </h6>

                <!-- Title -->
                <h1 class="header-title">
                  MVP Spec Tool (Beta)
                </h1>

              </div>
              <div class="col-12 col-md-auto mt-3 mt-md-0">
                
                <!-- Avatar group -->
                <div class="avatar-group">
                  <a href="profile-posts.html" class="avatar" data-toggle="tooltip" title="Chai Forest">
                    <img src="assets/img/avatars/profiles/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
                  </a>
                  <a href="profile-posts.html" class="avatar" data-toggle="tooltip" title="Ab Hadley">
                    <img src="assets/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                  </a>
                  <a href="profile-posts.html" class="avatar" data-toggle="tooltip" title="Adolfo Hess">
                    <img src="assets/img/avatars/profiles/avatar-3.jpg" alt="..." class="avatar-img rounded-circle">
                  </a>
                  <a href="profile-posts.html" class="avatar" data-toggle="tooltip" title="Daniela Dewitt">
                    <img src="assets/img/avatars/profiles/avatar-4.jpg" alt="..." class="avatar-img rounded-circle">
                  </a>
                </div>

                <!-- Button -->
                <a href="#modalMembers" class="btn btn-lg btn-rounded-circle btn-white lift" data-toggle="modal">
                  +
                </a>

              </div>
            </div> <!-- / .row -->
            
          </div>

        </div>
      </div> <!-- / .header -->

      <!-- CONTENT -->
      <div class="@@if(navPosition=='sidenav'||navPosition=='combo'){container-fluid}@@if(navPosition=='topnav'){container}">
        <div class="row">
          <div class="col-12">

            <!-- iframe ghost embed -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.black.design/mvp/" allowfullscreen></iframe>
              <span aria-hidden="true">×</span>
            </div>

          </div>   
      
    </div> <!-- / .main-content -->

    <!-- JAVASCRIPT
    ================================================== -->
    @@include("partials/scripts.html")

  </body>
</html>